@model IEnumerable<MIS497FinalProject.Models.Food>
@{
    ViewBag.Title = "Food";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select Food:</h2>

@if (!Model.Any())

{
    <p>You have not added any food for today.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Selected</th>
                <th>Food Name</th>
                <th>Calories</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Carbs</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model)
            {
            <tr>
                <td><input type="checkbox" name="selectedNames"/></td>
                <td>@food.FoodName</td>
                <td>@food.Calories</td>
                <td>@food.Protein</td>
                <td>@food.Fat</td>
                <td>@food.Carbs</td>

                <td>
                    @Html.ActionLink("Edit", "EditFood", new { foodName = @food.FoodName })|
                    @Html.ActionLink("Delete", "DeleteFood", new { foodName = @food.FoodName })
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@Html.ActionLink("Insert Record", "InsertData")
    <span>|</span>
@Html.ActionLink("Create Reports", "../Graphs/Graphs")


